* {
	font-family: 'Khula', sans-serif;
}

/**************************
	Global Header
	***********************/

header {
	background-color: #A5B9C6;
	float: left;
	padding: 5px;
	width: 100%;
	margin-bottom: 30px;
}


nav {
	text-align: center;
	padding: 10px 0 30px;
	margin: 20px 0 0;
	font-size: 20px;
	white-space: nowrap;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: normal;
	padding: 15px 10px;
	color: white;
	text-decoration: none;
}

.wrap {
		position:relative;
		margin:0 auto;
		max-width:940px;
		padding: 0 5%;
	}

	#body, #header {
		position: relative;
		width:100%;
		float:left;
	}


/**************************
	Home - Interviews
	***********************/

#add_interview {
	text-decoration: none;
  	margin-bottom: 40px;
  	text-align: center;
  	padding: 20px 0 5px 0;
  	vertical-align: middle;
}

.interview_list {
	border: 1px solid #B3B3B3;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 30px;
	color: #000333;
}

.interview_list:hover {
  background: #F2F2F2;
  text-decoration: none;
}





























