{% load staticfiles %} 
<!doctype html> 
<html>
<head>
	<title>
		{% block title %}Turn User Interviews in Product Insight{% endblock %}
	</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles.less' %/}">
	<!-- Latest compiled and minified JavaScript -->
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.0/less.min.js"></script>
	<script src="less.js" type="text/javascript"></script>
	<link href='http://fonts.googleapis.com/css?family=Khula:400,300,600' rel='stylesheet' type='text/css'>
	
	{% block header %}{% endblock %}
</head> 
<body>
	<header>
	  <a href "/">
		<img class="app-logo" src="/static/images/zenuser_logo.png" alt="Zenuser"></a>
			<div class="wrap">	
	 			<div id="header">
					<nav>
					  	<ul>
							<li><a href="{% url 'interviews' %}">Interviews</a></li> 
							<li><a href="{% url 'objectives' %}">Objectives</a></li> 
							<li><a href="{% url 'debriefs' %}">Debriefs</a></li>
					  	</ul>
					</nav>
          		</div>
     		</div>	
     	<div class="dropdown">
  			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"> 
  				{{ user.username }}
    			<span class="caret"></span>
  					</button>
  						<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
  							{% if user.is_authenticated %}
    						<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'auth_logout' %}">Logout</a></li>
    						{% else %}
    						<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'auth_login' %}">Login</a></li>
    						<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'registration_register'%}">Register</a></li>
    						{% endif %}
  						</ul>
		</div>
	</header>
	<div id="body">
		<div class="wrap">
	{% block content %}{% endblock %}
		</div>
	</div>
	{% block footer %}{% endblock %}	
</body> </html>